@import url("https://fonts.googleapis.com/css?family=Poppins");

/* *   1280-1024   - desktop (default grid)
*   1024-768    - tablet landscape
*   768-480     - tablet 
*   480-less    - phone landscape & smaller */

:root {
  --desktop-breakpoint: 1900px;
  --tablet-breakpoint: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --md-3 {
  font-size: ;
  fontwe
} */

html {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

main {
  min-height: 100vh;
}

header {
  justify-content: space-between;
}

.nav-wrapper > nav {
  display: flex;
  margin-left: 32px;
}

.nav-wrapper > nav > ul,
header {
  display: flex;
  align-items: center;
}

.nav-wrapper > nav > ul {
  list-style: none;
}

.nav-wrapper > nav > ul li {
  margin-right: 12px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

header,
footer {
  padding: 12px 20px;
  background-color: lightblue;
}

main {
  padding: 20px;
}

main > button#click-btn {
  padding: 4px 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  color: antiquewhite;
  background-color: brown;
}

main > ul > li {
  /* width: 300px; */
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin: 8px;
  overflow: hidden;
  cursor: pointer;
}

.list-content {
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 10px;
  /* grid-column-start: 2; */
}

#item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.list-content li {
  max-width: 300px;
}

.list-content p {
  padding: 8px 12px;
  background-color: lightblue;
}

@media screen and (max-width: 768px) {
}
